.contact-us{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-us-heading{
    padding-top: 1.4rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-us-heading p{
    width: 900px;
    max-width: 90%;
    text-align:center;
}

.contact-us-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.contact-us-detail{
    margin-bottom: 1rem;
    display: flex;
    gap: .8rem;
}

.contact-us-detail i{
    background-color: #614a4a;
    padding: .8rem;
    height: 40px;
    border-radius: 50%;
    color: #f49a9a;
}

.contact-us-detail h3{
    color: rgb(86, 110, 232);
}

.contact-us-address p{
    color: #fff;
    font-size: .8rem;
}

.contact-us-container{
    width: 40%;
    max-width: 100%;
    background-color: #fff;
    padding: 2rem;
}

@media(max-width: 530px){
    .contact-us-container{
        width: 80%;
    }
}

.contact-us-container h2{
    font-weight: normal;
}

.form input{
    border-style: none;
    border-bottom: 1px solid #584848;
    width: 100%;
    margin-bottom: 1rem;
}

.text-input{
    padding-bottom: .4rem;
}

.form button{
    background-color: rgb(39, 174, 231);
    color: #fff;
    border: none;
    padding: .48rem 1.4rem;
    display:block;
}

.message{
    padding-bottom: 1.9rem;
}

.contact-us-links h3{
    color: #fff;
    letter-spacing: .1rem;
}

.contact-us-icon i{
    color: #fff;
    letter-spacing: .5rem;
    /* margin-top: .5rem; */
}
